name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - name: Run tests
        run: cargo test --all

  build:
    name: Build & release
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-rust@v1
        with:
          rust-version: stable
          components: clippy, rustfmt

      - name: Build release binary
        run: cargo build --release

      - name: Rename artifact
        shell: bash
        run: |
          VERSION="${GITHUB_REF_NAME}"
          BIN="alignomatic"
          SRC="target/release/$BIN"
          DST="alignomatic-$VERSION-linux"
          mv "$SRC" "$DST"

      - name: Upload release asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            alignomatic-${{ github.ref_name }}-linux

  checksums:
    name: Checksums
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download release assets
        uses: softprops/action-gh-release@v2
        with:
          download: true
          download_dir: assets

      - name: Generate SHA256SUMS
        run: |
          cd assets
          sha256sum alignomatic-* > SHA256SUMS.txt

      - name: Upload checksums
        uses: softprops/action-gh-release@v2
        with:
          files: assets/SHA256SUMS.txt
